# Tipos sequenciais

Em Python, os tipos de dados sequenciais são usados para armazenar coleções de itens. Os principais tipos sequenciais são:

1. **Listas (Lists)**: São coleções ordenadas e mutáveis que podem conter elementos de diferentes tipos. As listas são definidas com colchetes `[]`. Exemplo: `minha_lista = [0, 1, 'dois', 3.0]`.

2. **Tuplas (Tuples)**: São coleções ordenadas e imutáveis. Tuplas são definidas com parênteses `()`. Exemplo: `minha_tupla = (0, 1, 'dois', 3.0)`.

3. **Strings (Strings)**: São sequências de caracteres. Apesar de poderem ser tratadas como sequências de caracteres (sendo imutáveis), elas são comumente usadas para armazenar texto. Exemplo: `minha_string = "Olá, mundo!"`.

Cada um desses tipos tem suas próprias características e usos específicos. Listas e tuplas podem conter qualquer tipo de objeto. Já strings são usadas geralmente para texto. 

Além disso, as sequências em Python suportam operações comuns como indexação, slicing (fatiamento), e iteração. Eles também suportam funções integradas como `len()` para tamanho, `min()` e `max()` para valores mínimo e máximo, e `in` para verificar a existência de um elemento dentro da sequência.

## Tuplas

In [1]:
minha_tupla = (0, 1, "dois", 3.0)
minha_tupla

(0, 1, 'dois', 3.0)

In [2]:
minha_tupla[2] #indexação igual as listas

'dois'

In [4]:
minha_tupla[-1] #indexação igual as listas

3.0

In [7]:
1 in minha_tupla #Se 1 faz parte da tupla

True

In [9]:
"dois" in minha_tupla #Se "dois" faz parte da tupla

True

In [10]:
minha_tupla[2] = 2   # Tuplas não suportam atribuições de itens

TypeError: 'tuple' object does not support item assignment

In [11]:
len(minha_tupla)

4

In [13]:
minha_tupla_numeros = [1, 2, 3, 4]
minha_tupla_numeros

[1, 2, 3, 4]

In [14]:
min(minha_tupla_numeros)

1

In [15]:
max(minha_tupla_numeros)

4

In [16]:
minha_tupla_numeros[:2] #Listando do incio ate a posição 1 - exclui o 2.

[1, 2]

In [19]:
minha_tupla_numeros[::3]  #Listando do incio ao fim de 3 em 3 (Passos - step)

[1, 4]

In [21]:
minha_tupla_numeros[1:5]  #Slices - posição 1 a 4 - o 5 é excluso

[2, 3, 4]

In [22]:
minha_tupla_numeros += (5, 6, 7, 8)
minha_tupla_numeros

[1, 2, 3, 4, 5, 6, 7, 8]

### O metodos append, pop e extend não são atribuidos em tuplas, elas são imutaveis

## Transformando tuplas em lista e vice-versa

In [23]:
minha_tupla_numeros

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
list(minha_tupla_numeros) #Listou como lista [], mas continua sendo tupla, para transformar deve atribuir esse metodo a uma nova variavel

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
minha_lista_antes_tupla = list(minha_tupla_numeros)   # Agora foi criada uma lista [] com os dados da tupla()
minha_lista_antes_tupla

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
minha_tupla_antes_lista = tuple(minha_lista_antes_tupla)  #Transformação de lista[] para tupla()
minha_tupla_antes_lista

(1, 2, 3, 4, 5, 6, 7, 8)